/* Example using the variable font */
@font-face {
  font-family: 'Figtree';
  src: url('./fonts/figtree-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FigtreeLightBold';
  src: url('./fonts/Figtree-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FigtreeLight';
  src: url('./fonts/Figtree-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FigtreeLightItalic';
  src: url('./fonts/Figtree-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Figtree', sans-serif;

  section {
    p {
      font-family: 'FigtreeLight', sans-serif;
    }
  }

  footer {
    font-family: 'FigtreeLightItalic', sans-serif;
  }
}
