/* Import the colors.css file */
@import url('colors.css');

@font-face {
  font-family: 'Agbalumo';
  src: url('./fonts/agbalumo-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FigtreeLight';
  src: url('./fonts/Figtree-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FigtreeLightItalic';
  src: url('./fonts/Figtree-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--dark-slate-blue);
  color: var(--mauve);
  font-family: 'FigtreeLightItalic', sans-serif; /* Use your preferred font family */
  margin: 0;
}

header {
  font-family: 'Agbalumo', sans-serif; /* Use your preferred font family */
  text-align: center;
  padding: 20px 20px 0 20px;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 20px 0 20px;
}

img {
  width: 300px; /* Adjust the width of the image as needed */
  height: auto;
  margin-right: 20px; /* Add some spacing between the image and section */
  margin-top: 22px;
}

section {
  max-width: 400px; /* Adjust the max-width of the text column as needed */
}

body main section p {
  line-height: 1.5;
  font-family: 'FigtreeLight', sans-serif;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Your regular styles go here */

/* Media query for screens up to 767 pixels wide (typical mobile devices) */
@media only screen and (max-width: 767px) {
  /* Your mobile-specific styles go here */

  main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
  }

  img {
    width: 250px; /* Adjust the width of the image as needed */
    height: auto;
    margin-right: 20px; /* Add some spacing between the image and section */
    margin-top: 22px;
  }

  /* Add more styles as needed for a better mobile experience */
}
